# Domain & SSL Settings (for Production Nginx)
DOMAIN_NAME=domainname.com
API_DOMAIN_NAME=api.domainname.com
SSL_EMAIL=admin@domainname.com

# PostgreSQL Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=graphql_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Database Connection URL for FastAPI / SQLAlchemy
DATABASE_URL=postgresql://postgres:postgres@db:5432/graphql_db

# LeetCode Integration
LEETCODE_CSRFTOKEN=your_leetcode_csrftoken_here
LEETCODE_SESSION=your_leetcode_session_here

# AI & API Keys
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_EDITORIAL_API_KEY=your_gemini_editorial_api_key_here
Youtube_API_KEY=your_youtube_api_key_here

# Email Service Configuration (SMTP)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@domain.com
SMTP_PASSWORD=your_gmail_app_password
