services:
  api:
    build: .
    container_name: fastapi_graphql_app
    ports:
      - "8000:8000"
      - "5678:5678"
    env_file:
      - .env

    environment:
      - DEBUGPY=1
      - DEBUGPY_WAIT=1
    depends_on:
      - db
    volumes:
      - .:/app
    restart: always

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: graphql_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

volumes:
  db_data:
